@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Raleway&display=swap');

html {
    font-size: calc(60% + 0.8vmin);
}

/* * {
    font-size: 1rem;
} */

body {
    background-color: #060708;
    font-family: 'Raleway', sans-serif;
}

.gaudy-font {
    font-family: 'Goudy Bookletter 1911', serif;
    letter-spacing: 0.14rem;
}

.navbar-brand {
    font-size: 1.7rem;
    line-height: 80%;
}

.nav-link {
    font-size: 1.3rem;
    line-height: 80%;
    margin-left: .25vw;
}

.button-hover {
    border: none;
    color: #bcbdbf;
}

.button-hover:hover {
    color: #fff;
}

.header-image {
    border: none;
    width: 100%;
}

.image-credit {
    padding: 0 1.5vw;
}

.offcanvas-button {
 
    background-color: #363a3e;
    border-radius: 100px;
    border: none;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    height: 5.5rem;
    margin-left: 1.5vw;
    margin-top: .5vw;
    position: sticky;
    top: 65px;
    width: 6rem;
    z-index: 10;
}

.offcanvas-button:hover {
    border: solid;
    border-color: #fff;
}


.post {
    border-radius: 15px;
    color: #060708;
    margin: 10px auto 25px;
    max-width: 50rem;
    padding: 2% 4%;
    text-align: justify;
}


.post h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: start;
}

.post h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.post h3 {
    font-size: .9rem;
    margin-left: auto;
}


.post p {
    font-size: 1rem;
    line-height: 160%;

}

.post .emoji-btn {
    border-radius: 45px;
    margin-right: 20px;
    padding: 0%;
    width: 45px;
}

.post .btn-dark {

    border-radius: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
    letter-spacing: 0.14rem;
    margin: 20px auto;
    width: 100%;
}

.post .btn-dark:hover {
    text-decoration:wavy;

    border-color: #fff;

}


#offcanvas-newpost {
    background-color: #060708;
    color: #e9e9ea;
    font-size: 2rem;
    width: 100%;
}


#offcanvasComments {
    width: 480px;
}

#offcanvasComments h3 {
    font-size: 1rem;
   margin-left: 20%;
    line-height: 80%;
}

#offcanvasComments h2 {
    font-size: 1.4rem;
    line-height: 60%;
}

#offcanvasComments p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #offcanvasComments {
        border-left-width: 0;
        width: 100%;
    }
}




.form-body {
    border-radius: 25px;
    color: #060708;
    font-size: .8rem;
    margin: auto;
    max-width: 45rem;
}


#footer {
    background-color: #131619;
    bottom: 0;
    color: #fff;
    font-size: 1.5rem;
    height: 90px;
    line-height: 60%;
    position: static;
    text-align: center;
}
